@font-face {
    font-family: 'OnePiece';
    src: url('/one-piece-font/OnePiece-zAqL.ttf') format('ttf'),
    url(/one-piece-font/one\ piece\ font.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo { 
    color: black;
    font-size: 5em;
    user-select: none;
    font-family: 'OnePiece',sans-serif;
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.navigation a {
    position: relative;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 40px;
    font-family: 'OnePiece',sans-serif;
}

.navigation a::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    bottom: -6px;
    background: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.choose-character {
    text-align: center;
    margin-top: 100px;
    margin-bottom: -100px; 
}
.choose-character h2 {
    font-size: 5em;
    font-family: 'OnePiece', sans-serif;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: black;
    color: white;
}

.content {
    margin-top: 100px; /* Adjust the margin to create space below the header */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper {
    width: 200px;
    height: 300px;
    background-color: black;
    background: transparent;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    backdrop-filter: blur(20px);
    margin: 10px; 
    display: inline-block; 
    vertical-align: top; 
    overflow: hidden; 
    cursor: pointer;
}

.wrapper img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
/* Modal */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1000; /* Increase z-index to ensure modal is on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Adjust the maximum width as needed */
    max-height: 80%; /* Adjust the maximum height as needed */
    overflow: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-background {
    position: fixed;
    z-index: 999; /* Set z-index lower than the modal content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    z-index: 1000; /* Set z-index higher than the modal background */
}
